@{
	ViewData["Title"] = "401 Unauthorized";
}
<link rel="stylesheet" href="~/css/error404.css">
<style>
	header {
		display: none;
	}

	footer {
		display: none;
	}
</style>
<div class="error-container">
	<h1 class="code"> 401 Unauthorized</h1>
	<a asp-controller="Home" asp-action="Index" class="home">
		Go Back to Home
	</a>
</div>
