@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homePage.css"/>

<div class="container1">
    <div class="photo-container" id="photo1">
        <img src="~/images/yoga.jpg" alt="EventPhoto" onmouseover="expandPhoto('photo1')" class="photo">
        <div class="button-overlay">
            <form method="get" asp-controller="Event" asp-action="All"> <button class="photo-button" > Events</button> </form>
           
        </div>
    </div>
    <div class="photo-container" id="photo2">
        <img src="~/images/weight-loss-exercise-plan.jpg" onmouseover="expandPhoto('photo2')" alt="ProgramPhoto" class="photo">
        <div class="button-overlay">
          <form method="get" asp-controller="TrainingProgram" asp-action="All">   <button class="photo-button" >Training Programs</button></form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        function expandPhoto(photoId) {
            // Reset all photos
            document.querySelectorAll('.photo-container').forEach(photo => {
                photo.classList.remove('expanded');
                photo.classList.remove('contracted');
            });

            // Expand the selected photo, contract the other
            document.getElementById(photoId).classList.add('expanded');
            document.querySelectorAll(`.photo-container:not(#${photoId})`).forEach(photo => {
                photo.classList.add('contracted');
            });
        }
    </script>
    }

