@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="photo-container" id="photo1">
        <img src="~/images/rooftop-yoga.jpg" alt="EventPhoto" class="photo">
        <div class="button-overlay">
            <button class="photo-button"><a asp-controller="Event" asp-action="All">Events</a></button>
        </div>
    </div>
    <div class="photo-container" id="photo2">
        <img src="~/images/weight-loss-exercise-plan.jpg" alt="ProgramPhoto" class="photo">
        <div class="button-overlay">
            <button class="photo-button" onclick="expandPhoto('photo2')">Training Programs</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function expandPhoto(photoId) {
            // Reset all photos
            document.querySelectorAll('.photo-container').forEach(photo => {
                photo.classList.remove('expanded');
                photo.classList.remove('contracted');
            });

            // Expand the selected photo, contract the other
            document.getElementById(photoId).classList.add('expanded');
            document.querySelectorAll(`.photo-container:not(#${photoId})`).forEach(photo => {
                photo.classList.add('contracted');
            });
        }
    </script>
    }

